<script src="{{ base_path }}/assets/js/main.min.js"></script>

{% include analytics.html %}
{% include /comments-providers/scripts.html %}

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
  $(document).ready(function () {
    $('.content-item').hide();

    $('.btn').click(function () {
      var uniqueID = $(this).data('unique-id');
      var target = '#' + $(this).attr('id') + '-content-' + uniqueID;
      $('.content-item').not(target).hide();
      console.log(target)
      $(target).toggle();
    });
  });
</script>
