/* ==========================================================================
   CUSTOM CSS BY ME
   ========================================================================== */

.zoom{
  /* default button */
  
  &:hover {
    transform: scale(1.25);
  }
}

.icon-large {
  font-size: 2.2em; 
}

.icon-mid {
  font-size: 1.3em; 
}

